* {
    box-sizing: border-box;
    user-select: none;
    /* Standard syntax */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

header h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 0.67em 0;
}

.beta {
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: super;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #333;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    align-items: center;
}

#menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #555;
    height: 1.8em;
    padding: 0 0.5em;
    margin-right: 0.5em;
}

#menu button {
    margin-right: 1em;
    padding: 0.2em 0.7em;
    font-size: 1em;
    height: 1.8em;
}

#menu .toggle {
    margin-right: 1em;
}

#menu .toggle input {
    margin-right: 0.5em;
}

#menu .slider {
    display: flex;
}

#menu .slider span {
    margin-right: 0.5em;
}

#menu select {
    margin-right: 0.5em;
    height: 1.8em;
    font-size: 1em;
}

footer {
    position: fixed;
    bottom: 10px;
}

#help-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    left: 0.5em;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
}

#help-icon:hover {
    background-color: #fff;
    color: #111;
}

#help-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 3.5em;
    left: 0.7em;
    background-color: #111;
    border: 2px solid #fff;
    padding: 1em;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 1em;
    width: 500px;
    visibility: hidden;
}

#help-section ul li:not(:last-child) {
    padding-bottom: 1em;
}

#help-section.visible {
    opacity: 1;
    visibility: visible;
}

#help-section .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5em;
    right: 0.5em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
}

#help-section .close:hover {
    background-color: #fff;
    color: #111;
}

.keyword {
    font-weight: bold;
    font-family: 'Inconsolata', Courier, monospace;
}

.divider {
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    width: 100%;
}