* {
    box-sizing: border-box;
}

body {
    font-family: 'Gochi Hand', 'Arial Narrow', Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.67em 0;
}

.beta {
    font-size: 0.5em;
    text-transform: uppercase;
    vertical-align: super;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #333;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    align-items: center;
}

#menu div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #555;
    height: 1.8em;
    padding: 0 0.5em;
}

#menu button {
    font-family: 'Arial', sans-serif;
    margin-right: 1em;
    padding: 0.2em 0.7em;
    font-size: 1em;
    height: 1.8em;
}

#menu .toggle {
    margin-right: 1em;
}

#menu .toggle input {
    margin-right: 0.5em;
}

#menu .slider {
    display: flex;
}

#menu .slider span {
    margin-right: 0.5em;
}